/node_modules
# Created by .ignore support plugin (hsz.mobi)
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion

*.iml

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

# Gradle:
# .idea/gradle.xml
# .idea/libraries

# Mongo Explorer plugin:
# .idea/mongoSettings.xml

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:
/web/malaria

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
/web/hpc-leap/
web/libs
/web/malaria/
SOLR/genea_expression/
web/genea_expression.html
web/genea_prototype.html
web/js/genea/
Would skip repository web/libs/genea/geohash4
Would skip repository web/libs/genea/wordcloud2.js
Would skip repository web/tiles/Leaflet-MiniMap
/web/libs/genea/
/js/genea/Leaflet-MiniMap/
!/web/js/genea/
!/web/libs/genea/
!/web/genea_expression.html
!/web/genea_prototype.html
