BODY {
    margin  : 0;
    padding : 0;
}
#min_width_container {
    position : absolute;
    top      : 0;
    right    : 0;
    left     : 0;
    bottom   : 0;
    /*padding-top: 110px;*/
}
#masthead {
    height   : 118px;
    position : absolute;
    top      : 0;
    left     : 0;
    right    : 0;
}
#map_container {
    position : relative;
    height   : 598px;
}
#map {
    border-top    : 3px solid #154B6F;
    border-bottom : 3px solid #154B6F;
    height        : 100%;
    background    : #CAE9FE;
}
#content-inner {
    margin-top    : -26px;
    margin-bottom : -26px;
}
.gutter {
    margin-left  : 0 !important;
    margin-right : 0 !important;
}
/*Overwrite bootstrap's label font size*/
.label {
    font-weight : normal;
    font-size   : small;
}
.bootstrap-tagsinput {
    line-height : 2em;
}
.bootstrap-tagsinput .tag {
    margin-right : 0px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
    content : "\00d7";
    padding : 0px 0px;
}
.info {
    font-family   : "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding       : 6px 8px;
    font-size     : small;
    background    : white;
    background    : rgba(255, 255, 255, 0.95);
    border-radius : 5px;
}
.nvd3 text {
    font-family : "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.nvtooltip {
    font-family   : "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-radius : 0;
    border        : 1px solid #CCCCCC;
}
.nvtooltip tbody {
    border : 0 !important;
}
.nvtooltip table {
    width : auto !important;
}
.nv-label text {
    fill : #FFFFFF !important;
}
.nvd3.nv-pie path {
    fill-opacity : 0.8;
}
.nv-legend-text-italics {
    font-style : italic !important;
}
.legend-color-guide {
    border-radius : 10px !important;
    border        : 0 !important;
}
.info h4 {
    margin : 0 0 5px;
    color  : #777777;
}
.legend {
    text-align    : left;
    line-height   : 15px;
    color         : #555555;
    margin-bottom : 5px !important;
    border-radius : 0 !important;
    min-width     : 170px;
    min-height    : 300px;
    max-width     : 230px;
}
.legend i, #Other-Terms-List i, #table-legend-controls i {
    width         : 14px;
    height        : 14px;
    float         : left;
    margin-right  : 8px;
    opacity       : 1;
    border-radius : 10px;
}
.min-value, .max-value {
    vertical-align : middle;
    width          : 25px;
}
.data-layer-legend {
    text-align : center;
}
.sort-by {
    margin-right : 2px !important;
}
/*center the search box*/
.mapbox {
    position     : relative;
    margin-left  : 80px;
    margin-right : 80px;
}
.mapbox .overlaytop {
    position  : absolute;
    top       : 11px;
    left      : 396px;
    width     : 56%;
    min-width : 250px;
    /*max-width: 500px;*/
    z-index   : 3000;
}
.leaflet-pseudo-fullscreen {
    z-index : 2999;
}
.mapbox .overlaybottom {
    position   : absolute;
    bottom     : 3px;
    left       : 40%;
    width      : 30%;
    min-width  : 200px;
    text-align : center;
    background : rgba(255, 255, 255, 0.7);
    /*max-width: 500px;*/
    z-index    : 3000;
    font-size  : small;
}
.sidebar-pane h1, .sidebar-pane h2, .sidebar-pane h3, .sidebar-pane h4 {
    margin-top    : 20px;
    margin-bottom : 10px;
}
.sidebar-pane h3 {
    font-size : 24px;
    color     : #666666;
}
.sidebar-pane h4 {
    font-size : 18px;
    color     : #666666;
}
.sidebar-pane h1 {
    font-size : 36px;
    color     : #333333;
}
.sidebar-icon, circle, path, .boxplot {
    cursor : pointer;
}
/*keep the curson inline with the tags if the space left is more than width*/
/*span.twitter-typeahead {*/
/*width: 250px;*/
/*}*/

.tt-suggestion p {
    margin : 0 0 0 0;
}
/*typeahead more results header*/
.more-results {
    margin        : 0 20px 5px 20px;
    padding       : 3px 0;
    border-bottom : 1px solid #CCCCCC;
}
.dropdown-menu li {
    list-style-type  : none;
    list-style-image : none;
    margin-bottom    : 0;
}
.single-marker-icon {
    text-shadow : -1px -1px 0 #FFFFFF,
    1px -1px 0 #FFFFFF,
    -1px 1px 0 #FFFFFF,
    1px 1px 0 #FFFFFF;
}
.highlight-marker {
    background-clip : padding-box;
    border-radius: 30px;
    box-shadow : 0px 0px 0px 4px rgba(255, 255, 0, 1);
    z-index    : 9999 !important;
}
.top-marker {
    z-index : 3100 !important;
}
/* for the table */
#marker-table {
    overflow-y    : auto;
    overflow-x    : hidden;
    height        : 100%;
    padding-right : 0;
}
.row.no-pad {
    margin-right : 10px;
    margin-left  : -5px;
}
.tooltip-bs .row.no-pad {
    margin-left : 0px;
}
.row.no-pad > [class*='col-'] {
    padding-right : 0;
    padding-left  : 0;
}
.marker-row p, .tooltip-bs p {
    margin     : 0;
    padding    : 3px 0px 3px 3px;
    text-align : left;
}
.marker-row span, .tooltip-bs span {
    display : inline-block;
    margin  : 2px 0;
}
.marker-row ul, .tooltip-bs ul {
    padding     : 3px 4px 0 4px;
    margin-left : 3px;
}
.marker-row ul li, .tooltip-bs ul li {
    display : table-row;
}
.marker-row ul li:last-child:after, .tooltip-bs ul li:last-child:after {
    content : "";
}
.row.less-margin {
    margin-left  : -10px;
    margin-right : -5px;
}
/*.marker-row.row {*/
/*padding-right: 8px !important;*/
/*}*/
/*.marker-row ul li:after, .tooltip-bs ul li:after {*/
/*content: ", ";*/
/*}*/

/* for the violin plots */
.cancel {
    position        : relative;
    cursor          : pointer;
    margin          : 4px -5px 0 0;
    opacity         : 0.6;
    float           : right;
    height          : 15px;
    width           : 14px;
    background      : transparent;
    text-align      : center;
    font-size       : 14px;
    color           : #FFFFFF;
    z-index         : 3100;
    text-decoration : none;
    text-shadow     : none;
    display         : none;
}
.cancel:hover,
.cancel:focus {
    opacity : 1;
}
.marker-row, .tooltip-bs, .tooltip {
    background-color : rgba(255, 255, 255, 1.0);
    color            : rgba(0, 0, 0, 1.0);
    padding          : 1px;
    border           : 1px solid #CCCCCC;
    border-radius    : 0;
    z-index          : 100;
    display          : block;
    margin-bottom    : 10px;
    margin-right     : 10px;
    font-family      : "Open Sans";
    font-size        : 13px;
    text-align       : left;
    white-space      : normal;
}
.tooltip, .tooltip-bs {
    position         : absolute;
    background-color : rgba(255, 255, 255, 0.9);
    z-index          : 3080;
    pointer-events   : none;
    user-select      : none;
}
.tooltip-bs {
    pointer-events : auto;
    user-select    : text;
    max-height     : 400px;
    overflow-y     : auto;
    overflow-x     : hidden;
}
.marker-row h3, .tooltip-bs h3, .tooltip h3 {
    margin           : 0;
    padding          : 4px 14px;
    line-height      : 18px;
    font-weight      : normal;
    font-size        : large;
    background-color : rgba(247, 247, 247, 0.75);
    color            : rgba(0, 0, 0, 1.0);
    text-align       : center;
    border-bottom    : 1px solid #EBEBEB;
    border-radius    : 0;
}
.tooltip p {
    margin     : 0;
    padding    : 5px 14px;
    text-align : center;
}
.tooltip span {
    display : inline-block;
    margin  : 2px 0;
}
.area {
    shape-rendering : geometricPrecision;
    fill            : #CCCCCC !important;
}
.boxplot {
    shape-rendering : crispEdges;
    fill            : none;
    stroke          : black;
    stroke-width    : 2px;
}
.boxplot.fill {
    fill : none;
}
.boxplot.mean, .boxplot.median {
    fill   : white;
    stroke : red;
}
.boxplot.mean {
    shape-rendering : geometricPrecision;
}
.violin {
    shape-rendering : geometricPrecision;
    fill            : none !important;
    stroke          : #777777;
    stroke-width    : 1px;
}
.axis path, .axis line {
    fill            : none;
    stroke          : #000000;
    stroke-width    : 1px;
    color-rendering : optimizeQuality !important;
    shape-rendering : crispEdges !important;
    text-rendering  : geometricPrecision !important;
}
.axis text {
    font-family : sans-serif;
    font-size   : 11px;
}
/* end of violin plots specific CSS*/

ul.dropdown-menu.inner {
    margin : 0 !important;
}

.xy-tooltip {
    z-index : 3070;
}
.no-interactions {
    position : absolute;
    top      : 0px;
    left     : 0px;
    height   : 100%;
    width    : 100%;
    z-index  : -1000001;
}
.foreground {
    z-index : 3150;
}
html {
    font-size : 100%;
}
.tg {
    border-collapse : collapse;
    border-spacing  : 0;
    border          : none;
}
.tg td {
    padding      : 10px 5px;
    border-style : solid;
    border-width : 0px;
    overflow     : hidden;
    word-break   : normal;
}
.tg th {
    font-weight  : normal;
    padding      : 10px 5px;
    border-style : solid;
    border-width : 0px;
    overflow     : hidden;
    word-break   : normal;
}
.leaflet-bar i {
    width           : 30px;
    height          : 30px;
    line-height     : 30px;
    display         : block;
    background      : #FFFFFF no-repeat 50% 50%;
    border-bottom   : 1px solid #CCCCCC;
    text-align      : center;
    text-decoration : none;
    color           : black;
}
.rotate {
    -moz-transition    : all 300ms linear;
    -webkit-transition : all 300ms linear;
    transition         : all 300ms linear;
}
.rotate.down {
    -moz-transform    : rotate(90deg);
    -webkit-transform : rotate(90deg);
    transform         : rotate(90deg);
}
#norm-ir-slider {
    width       : 90%;
    margin-left : 5%;
}
/* Replace leaflet styles*/

/* general typography */
.leaflet-container {
    font : 12px/1.5 "Open Sans", Arial, Helvetica, sans-serif;
}
.leaflet-bar, .leaflet-control-layers, .sidebar {
    color            : #333333;
    background-color : #FFFFFF;
    border           : 1px solid #E7E7E7 !important;
    border-radius    : 0px;
    box-shadow       : none;
}
/* x-jsrender active terms*/
.active-term, .active-legend, .active-others {
    border-bottom : 1px dotted;
    cursor        : pointer;
    /*text-transform: capitalize;*/
    /*text-decoration: underline;*/
    /*text-decoration-style: dotted;*/
}
/*.active-term::before {*/
/*content: '<i class="fa fa-plus-circle fa-fw" aria-hidden="true"></i>';*/
/*}*/

.active-hover {
    cursor : pointer;
}
.marker-row, #beeViolinPlot {
    display : none;
}
/* Overwrite VB definitions*/

div.error div, div.warning div, div.info div, div.hint div {
    border        : 0;
    border-radius : 0;
}
.multiColumn-2 {
    -webkit-column-gap   : 20px;
    -moz-column-gap      : 20px;
    column-gap           : 20px;
    -webkit-column-count : 2;
    -moz-column-count    : 2;
    column-count         : 2;
}
.multiColumn-3 {
    -webkit-column-gap   : 20px;
    -moz-column-gap      : 20px;
    column-gap           : 20px;
    -webkit-column-count : 3;
    -moz-column-count    : 3;
    column-count         : 3;
}
.multiColumn-4 {
    -webkit-column-gap   : 20px;
    -moz-column-gap      : 20px;
    column-gap           : 20px;
    -webkit-column-count : 4;
    -moz-column-count    : 4;
    column-count         : 4;
}
.multiColumn-5 {
    -webkit-column-gap   : 20px;
    -moz-column-gap      : 20px;
    column-gap           : 20px;
    -webkit-column-count : 5;
    -moz-column-count    : 5;
    column-count         : 5;
}
/* CSS transitions for map markers */

/*.marker-row {*/
/*!*-webkit-animation: fadein 0.5s; !* Safari, Chrome and Opera > 12.1 *!*!*/
/*!*-moz-animation: fadein 0.5s; !* Firefox < 16 *!*!*/
/*!*-ms-animation: fadein 0.5s; !* Internet Explorer *!*!*/
/*!*-o-animation: fadein 0.5s; !* Opera < 12.1 *!*!*/
/*animation: fadein 1.5s;*/
/*!*transition:all 1.3s ease;*!*/
/*}*/

/*@keyframes fadein {*/
/*from { opacity: 0; }*/
/*to   { opacity: 1; }*/
/*}*/

/*!* Firefox < 16 *!*/
/*@-moz-keyframes fadein {*/
/*from { opacity: 0; }*/
/*to   { opacity: 1; }*/
/*}*/

/*!* Safari, Chrome and Opera > 12.1 *!*/
/*@-webkit-keyframes fadein {*/
/*from { opacity: 0; }*/
/*to   { opacity: 1; }*/
/*}*/

/*!* Internet Explorer *!*/
/*@-ms-keyframes fadein {*/
/*from { opacity: 0; }*/
/*to   { opacity: 1; }*/
/*}*/

/*!* Opera < 12.1 *!*/
/*@-o-keyframes fadein {*/
/*from { opacity: 0; }*/
/*to   { opacity: 1; }*/
/*}*/

/*.marker-cluster {*/
    /*position: relative;*/
/*}*/

/*.marker-cluster i {*/
    /*position: absolute;*/
    /*top: 45%;*/
    /*left: 45%;*/
    /*transform: translate(-45%, -45%);*/
/*}*/


/* add the font awesome icon */

.marker-cluster:before {
    content: '\f0c4';
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
}

.leaflet-select-box {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 800;
    border: 2px dotted #38f;
    background: rgba(255,255,255,0.5);
}

.leaflet-marker-icon-anim {
    -webkit-transition: -webkit-transform 0.3s linear, -webkit-opacity 0.3s linear;
    -moz-transition: -moz-transform 0.3s linear, -moz-opacity 0.3s linear;
    -o-transition: -o-transform 0.3s linear, -moz-opacity 0.3s linear;
    transition: transform 0.3s ease-in-out, opacity 0.3s linear;
}

.leaflet-marker-icon-fout {
    -webkit-transition: -webkit-opacity 0.3s linear;
    -moz-transition: -moz-opacity 0.3s linear;
    -o-transition: -o-opacity 0.3s linear;
    transition: opacity 0.3s linear;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:0.3s;
    -moz-animation-duration:0.3s;
    animation-duration:0.3s;
}

/* VB-6377 new additions for Bootstrap tooltip*/
.detailedTip {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    line-height: 17px;
    /*border-bottom: 1px dotted;*/
}

/* Decoration of tooltip, if necessary */
/*.detailedTip + .tooltip > .tooltip-inner {
    background-color: #73AD21;
    color: #FFFFFF;
    border: 1px solid green;
    padding: 10px;
    font-size: 12px;
}*/

#generate-link-msg {
    position: absolute;
    top: 30px;
    width: 350px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: none;
}

.highcharts-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap !important;
}

#projects-notice {
    display: none;
}
